.game-scene-container {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box {
  height: 12vw;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.player-box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 40%;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.set-button {
  margin: 2vw auto;
  height: 3vw;
  width: 7vw;
  cursor: pointer;
}

.set-button:disabled {
  cursor: not-allowed;
}

.set-button:hover {
  opacity: 0.7;
}

.set-clear-buttons {
  display: flex;
  margin: 1vw auto;
  margin-top: 0;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.message {
  color: #f57200;
}

.moveX {
  animation: moveX 1000ms linear;
}

.moveXx {
  animation: moveX 1000ms linear;
}

@keyframes moveX {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(10vw) scale(2);
  }
  100% {
    transform: translateX(0vw);
  }
}
/* @keyframes moveXx {
  0% {
    transform: translateX(10vw);
  }
  50% {
    left: -10vw;
  }
  100% {
    position: relative;
    left: 0;
  }
} */

@media only screen and (max-width: 950px) {
  .set-button {
    height: 5vw;
    width: 9vw;
  }
}

@media only screen and (max-width: 650px) {
  .game-box {
    height: 20vw;
    width: 40vw;
  }

  .set-clear-buttons {
    width: fit-content;
  }

  .set-button {
    height: 7vw;
    width: 11vw;
    margin: 2vw;
  }
}

@media only screen and (max-width: 450px) {
  .player-box {
    width: 80%;
    margin: 5vw;
  }

  .game-box {
    height: 30vw;
    width: 45vw;
  }

  .set-button {
    height: 10vw;
    width: 20vw;
    margin: 5vw;
  }
}
