.App {
  text-align: center;
}

.box {
  border: 5px solid #274254;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2vw auto;
}

.roundText {
  margin: 0;
  margin-top: 2vw;
}

h2 {
  margin: 0;
}

@media only screen and (max-width: 950px) {
  .header-container {
    height: 12vw;
  }

  h2 {
    margin: 2vw;
  }
}

@media only screen and (max-width: 450px) {
  h2 {
    margin: 5vw;
  }

  .header-container {
    height: 30vw;
  }
}
